<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Listen</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/feather/feather.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/ti-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/css/vendor.bundle.base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css')}}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- <link rel="stylesheet" href="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/datatables.net-bs5/dataTables.bootstrap5.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/select2/select2.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/select.dataTables.min.css')}}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{{url_for('static', filename='images/logo_haproxy.png')}}" />
    </head>
    <body>
        <div class="container-scroll">
            {% include '/partials/navbar.html' %}
            <div class="container-fluid page-body-wrapper">
                {% include '/partials/sidebar.html' %}
                <div class="main-panel">
                    <div class="content-wrapper">
                        <form class="forms-sample" method="POST" action="{{ url_for('add') }}">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="row">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title"><i class="mdi mdi-web"></i> Add new configuration</h4>
                                            <div class="form-group">
                                                <label for="exampleInputName1">Haproxy Name</label>
                                                <input type="text" class="form-control" id="haproxy_name" placeholder="Haproxy Name" name="haproxy_name" pattern="\S+" title="No spaces" value="{{ request.form['haproxy_name'] }}" required>
                                            </div>
                                            <div class="form-group">
                                                <div class="col">
                                                    <label for="exampleFormControlSelect4">Protocol</label>
                                                    <select class="form-select form-select-sm" name="protocol" id="protocol" onchange="protocolFunction()">
                                                        <option value="" disabled selected>--Select protocol--</option>
                                                        <option value="http" {% if protocol == 'http' or request.form.get('protocol') == 'http' %}selected{% endif %}>HTTP</option>
                                                        <option value="tcp" {% if protocol == 'tcp' or request.form.get('protocol') == 'tcp' %}selected{% endif %}>TCP</option>
                                                    </select>
                                                </div>
                                                <small class="text-danger">*if only using http auto redirect port 80. if checklist ssl box, auto redirect port 443</small>
                                            </div>
                                            <div class="protocol-http" id="protocol-http" style="display: none;">
                                                <div class="form-group">
                                                    <label for="exampleInputName2">Domain Name</label>
                                                    <input type="text" class="form-control" id="domain_name_http" placeholder="Domain Name" name="domain_name_http" value="{{ request.form['domain_name_http'] }}">
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <i class="mdi mdi-lock"></i>
                                                            <input type="checkbox" class="form-check-input" id="use_ssl_http" name="use_ssl_http" onchange="toggleSSLFields()"> Use SSL Certificate
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ssl_fields" id="ssl_fields_http" style="display: none;">
                                                    <div class="form-group">
                                                        <label for="exampleInputSSL">SSL Certificate:</label>
                                                        <textarea class="form-control" name="ssl_cert_path_http" id="ssl_cert_path_http" rows="10">{{ request.form['ssl_cert_path_http'] }}</textarea>
                                                        <span>Here's auto redirect HTTPS</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="protocol-tcp" id="protocol-tcp" style="display: none;">
                                                <div class="form-group">
                                                    <label for="exampleInputNamePort">Frontend Port</label>
                                                    <input type="text" class="form-control" id="frontend_port" placeholder="Frontend Port" name="frontend_port" value="{{ request.form['frontend_port'] }}" oninput="validateIP(event)">
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <i class="mdi mdi-lock"></i>
                                                            <input type="checkbox" class="form-check-input" id="use_ssl_tcp" name="use_ssl_tcp" onchange="toggleSSLFields()"> Use SSL Certificate
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ssl_fields" id="ssl_fields_tcp" style="display: none;">
                                                    <div class="form-group">
                                                        <label for="exampleInputSSL">SSL Certificate:</label>
                                                        <textarea class="form-control" name="ssl_cert_path_tcp" id="ssl_cert_path_tcp" rows="10">{{ request.form['ssl_cert_path_tcp'] }}</textarea>
                                                        <span>Here's auto redirect HTTPS</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Domain Name</label>
                                                        <input type="text" class="form-control" id="domain_name_tcp" placeholder="Domain Name" name="domain_name_tcp" value="{{ request.form['domain_name_tcp'] }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card">
                                    <div class="card-body" id="backend">
                                        <h4 class="card-title"><i class="mdi mdi-server"></i>Backend</h4>
                                        <div class="form-group">
                                            <div class="form-group row" id="frontend">
                                                <div class="col">
                                                    <label for="exampleFormControlSelect3">Load Balancing Method</label>
                                                    <select class="form-select form-select-sm" name="lb_method" id="lb_method" onchange="lbMethodFunction()">
                                                        <option value="" disabled selected>--Select method--</option>
                                                        <option value="roundrobin" {% if lb_method == 'roundrobin' or request.form.get('lb_method') == 'roundrobin' %}selected{% endif %}>Round Robin</option>
                                                        <option value="source" {% if lb_method == 'source' or request.form.get('lb_method') == 'source' %}selected{% endif %}>IP Hash</option>
                                                        <option value="leastconn" {% if lb_method == 'leastconn' or request.form.get('lb_method') == 'leastconn' %}selected{% endif %}>Least Connection</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lb_fields" id="lb_fields" style="display: none;">
                                            <div class="form-group row g-3 align-items-end">
                                                <div class="col">
                                                    <label for="exampleInputName1">Server 1 Name</label>
                                                    <input type="text" class="form-control" id="backend_server_names" placeholder="Server 1 Name" name="backend_server_names" pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed. No spaces." value="{{ request.form['backend_server_names'] }}" required>
                                                </div>
                                                <div class="col">
                                                    <label for="exampleInputName2">IP Address</label>
                                                    <input type="text" class="form-control" id="backend_server_ips" placeholder="IP Address" name="backend_server_ips" oninput="validateIP(event)" value="{{ request.form['backend_server_ips'] }}" required>
                                                </div>
                                                <div class="col-2">
                                                    <label for="exampleInputName3">Port</label>
                                                    <input type="text" class="form-control" id="backend_server_ports" placeholder="Port" name="backend_server_ports" oninput="validateIP(event)" value="{{ request.form['backend_server_ports'] }}" required>
                                                </div>
                                                <div class="col-1" id="weight_field" style="display: none;">
                                                    <label for="exampleInputName4">Weight</label>
                                                    <input type="text" class="form-control" id="backend_server_weights" placeholder="Weight" name="backend_server_weights" value="1" oninput="validateIP(event)">
                                                </div>                                            
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-link btn-sm" id="addBackendBtn" style="display: none;" onclick="addBackend()"><i class="mdi mdi-plus-network"> Add backend server</i></button>
                                </div>
                            </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2" id="succes_btn" name="save_reload_create" value="Submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- <script>
        function save_reload_create() {
            const apiUrl = "https://" + window.location.host + "/add";

            const postData = {
                action: 'add',
            };

            const requestOptions = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            };

            fetch(apiUrl, requestOptions)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Response:', data);
                    if (data.success) {
                        alert(data.message); // Menampilkan pesan sukses
                        window.location.href = "http://" + window.location.host
                    } else {
                        alert(data.message); // Menampilkan pesan kesalahan
                        window.location.href = "http://" + window.location.host + "/add"
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Data gagal tersimpan.");
                    window.location.href = "http://" + window.location.host + "/add"
                });
        }
    </script> -->
    <script>
        function toggleSSLFields() {
            const checkbox_http = document.getElementById('use_ssl_http');
            const checkbox_tcp = document.getElementById('use_ssl_tcp');
            const sslCertPath_http = document.getElementById('ssl_cert_path_http');
            const sslCertPath_tcp = document.getElementById('ssl_cert_path_tcp');
            const domainName_http = document.getElementById('domain_name_http');
            const domainName_tcp = document.getElementById('domain_name_tcp');
    
            if (checkbox_http.checked) {
                sslCertPath_http.setAttribute('required', true);
                domainName_http.setAttribute('required', true);
            } else {
                sslCertPath_http.removeAttribute('required');
                domainName_http.removeAttribute('required');
            }
            
            if (checkbox_tcp.checked) {
                sslCertPath_tcp.setAttribute('required', true);
                domainName_tcp.setAttribute('required', true);
            } else {
                sslCertPath_tcp.removeAttribute('required');
                domainName_tcp.removeAttribute('required');
            }
        }
    
        // Menambahkan event listener pada checkbox
        document.getElementById('use_ssl_http').addEventListener('change', toggleSSLFields);
        document.getElementById('use_ssl_tcp').addEventListener('change', toggleSSLFields);
    </script>
    <script>
        function validateIP(event) {
            const input = event.target.value;
            // Regex untuk memeriksa apakah input hanya terdiri dari angka dan titik
            const regex = /^[0-9.]*$/;

            // Jika input tidak sesuai dengan regex, hapus karakter terakhir
            if (!regex.test(input)) {
                event.target.value = input.slice(0, -1);
            }
        }

        function protocolFunction() {
            let protocol = document.getElementById("protocol").value;
            let protocolhttp = document.getElementById("protocol-http");
            let protocoltcp = document.getElementById("protocol-tcp");

            protocolhttp.style.display = 'none';
            protocoltcp.style.display = 'none';

            if (protocol === "http") {
                protocolhttp.style.display = 'block';
                protocoltcp.style.display = 'none';
            } else if (protocol === "tcp") {
                protocolhttp.style.display = 'none';
                protocoltcp.style.display = 'block';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            protocolFunction();
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('use_ssl_http').addEventListener('change', function () {
                let sslFieldsHttp = document.getElementById('ssl_fields_http');
                sslFieldsHttp.style.display = this.checked ? 'block' : 'none';
            });
            document.getElementById('use_ssl_tcp').addEventListener('change', function () {
                let sslFieldsTcp = document.getElementById('ssl_fields_tcp');
                sslFieldsTcp.style.display = this.checked ? 'block' : 'none';
            });
        });
    </script>
    <script>
        let lbMethod = ""; // Variabel global untuk menyimpan pilihan lb_method
        let backendCounter = 1; // Counter mulai dari 1
    
        function lbMethodFunction() {
            lbMethod = document.getElementById("lb_method").value;
            let weightField = document.getElementById("weight_field");
            let lb_fields = document.getElementById("lb_fields");
            let addBackendBtn = document.getElementById("addBackendBtn");
    
            // Tampilkan atau sembunyikan field berdasarkan pilihan lb_method
            if (lbMethod === "roundrobin") {
                weightField.style.display = "block";
                lb_fields.style.display = "block";
                addBackendBtn.style.display = "block";
            } else if (lbMethod === "source") { 
                weightField.style.display = "none";
                lb_fields.style.display = "block";
                addBackendBtn.style.display = "block";
            } else if (lbMethod === "leastconn") { 
                weightField.style.display = "none";
                lb_fields.style.display = "block";
                addBackendBtn.style.display = "block";
            } else {
                weightField.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            lbMethodFunction();
        });
    
        function addBackend() {
            // Menambah counter untuk label backend server
            backendCounter++;

            // Membuat elemen button untuk menghapus baris
            var deleteButton = document.createElement("button");
            deleteButton.setAttribute("type", "button");
            deleteButton.className = "btn btn-danger rounded-circle";
            deleteButton.style.cssText = "--bs-btn-padding-y: 2px; --bs-btn-padding-x: 2px; --bs-btn-font-size: .75rem; transform: translateY(-10px);";
            
            // Fungsi untuk menghapus row dan memperbarui nomor server
            deleteButton.addEventListener("click", function() {
                newRow.remove();
                updateServerNumbers();
            });

            // Membuat elemen ikon di dalam button
            var deleteIcon = document.createElement("i");
            deleteIcon.className = "mdi mdi-minus text-white";

            // Menambahkan ikon ke dalam button
            deleteButton.appendChild(deleteIcon);

            // Membuat elemen div untuk col-auto yang berisi button hapus
            var colAuto = document.createElement("div");
            colAuto.className = "col-auto";
            colAuto.appendChild(deleteButton);

            // Membuat elemen label dan input untuk nama backend server
            var labelName = document.createElement("label");
            labelName.setAttribute("for", "exampleInputName" + backendCounter);
            labelName.textContent = "Server " + backendCounter + " Name";
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            x.setAttribute("id", "exampleInputName" + backendCounter);
            x.setAttribute("placeholder", "Server " + backendCounter + " Name");
            x.setAttribute("name", "backend_server_names");
            // x.setAttribute("value", "{{ request.form['backend_server_names'] }}");
            x.setAttribute("required", "");
            x.className = "form-control";

            // Membuat elemen div untuk kolom nama backend server
            var colName = document.createElement("div");
            colName.className = "col";
            colName.appendChild(labelName);
            colName.appendChild(x);

            // Membuat elemen label dan input untuk IP backend server
            var labelIP = document.createElement("label");
            labelIP.setAttribute("for", "exampleInputName" + backendCounter);
            labelIP.textContent = "IP Address";
            var y = document.createElement("INPUT");
            y.setAttribute("type", "text");
            y.setAttribute("id", "exampleInputName" + backendCounter);
            y.setAttribute("placeholder", "IP Address");
            y.setAttribute("name", "backend_server_ips");
            y.setAttribute("oninput", "validateIP(event)");
            // y.setAttribute("value", "{{ request.form['backend_server_ips'] }}");
            y.setAttribute("required", "");
            y.className = "form-control";

            // Membuat elemen div untuk kolom IP backend server
            var colIP = document.createElement("div");
            colIP.className = "col";
            colIP.appendChild(labelIP);
            colIP.appendChild(y);

            // Membuat elemen label dan input untuk port backend server
            var labelPort = document.createElement("label");
            labelPort.setAttribute("for", "exampleInputName" + backendCounter);
            labelPort.textContent = "Port";
            var z = document.createElement("INPUT");
            z.setAttribute("type", "text");
            z.setAttribute("id", "exampleInputName" + backendCounter);
            z.setAttribute("placeholder", "Port");
            z.setAttribute("name", "backend_server_ports");
            z.setAttribute("oninput", "validateIP(event)");
            // z.setAttribute("value", "{{ request.form['backend_server_ports'] }}");
            z.setAttribute("required", "");
            z.className = "form-control";

            // Membuat elemen div untuk kolom port backend server
            var colPort = document.createElement("div");
            colPort.className = "col-2";
            colPort.appendChild(labelPort);
            colPort.appendChild(z);

            // Membuat row baru dan menambahkan col-auto dan kolom ke dalamnya
            var newRow = document.createElement("div");
            newRow.className = "form-group row g-3 align-items-end";
            newRow.appendChild(colAuto);  // Tambahkan col-auto (button hapus) sebelum kolom nama backend server
            newRow.appendChild(colName);
            newRow.appendChild(colIP);
            newRow.appendChild(colPort);

            // Jika lb_method adalah roundrobin, tambahkan input untuk weight
            if (lbMethod === "roundrobin") {
                var labelWeight = document.createElement("label");
                labelWeight.setAttribute("for", "exampleInputName" + backendCounter);
                labelWeight.textContent = "Weight";
                var w = document.createElement("INPUT");
                w.setAttribute("type", "text");
                w.setAttribute("id", "exampleInputName" + backendCounter);
                w.setAttribute("placeholder", "Weight");
                w.setAttribute("name", "backend_server_weights");
                w.setAttribute("oninput", "validateIP(event)");
                // w.setAttribute("value", "{{ request.form['backend_server_weights'] }}");
                w.className = "form-control";

                var colWeight = document.createElement("div");
                colWeight.className = "col-1";
                colWeight.appendChild(labelWeight);
                colWeight.appendChild(w);

                newRow.appendChild(colWeight);
            }

            // Menambahkan row baru ke dalam container
            var container = document.getElementById("lb_fields");
            container.appendChild(newRow);
        }

        // Fungsi untuk memperbarui nomor server setelah penghapusan
        function updateServerNumbers() {
            var rows = document.querySelectorAll("#lb_fields .form-group.row");
            backendCounter = 0;
            rows.forEach(function(row, index) {
                backendCounter++;
                var labelName = row.querySelector(".col label");
                var inputName = row.querySelector(".col input");
                labelName.textContent = "Server " + backendCounter + " Name";
                inputName.setAttribute("placeholder", "Server " + backendCounter + " Name");
            });
        }
    </script> 
        <!-- plugins:js -->
        <script src="{{url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{{url_for('static', filename='vendors/typeahead.js/typeahead.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendors/select2/select2.min.js')}}"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
        <script src="{{url_for('static', filename='js/template.js')}}"></script>
        <script src="{{url_for('static', filename='js/settings.js')}}"></script>
        <script src="{{url_for('static', filename='js/todolist.js')}}"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="{{url_for('static', filename='js/file-upload.js')}}"></script>
        <script src="{{url_for('static', filename='js/typeahead.js')}}"></script>
        <script src="{{url_for('static', filename='js/select2.js')}}"></script>
        <!-- End custom js for this page-->
</html>