<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/feather/feather.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/ti-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/css/vendor.bundle.base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css')}}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/ti-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/select.dataTables.min.css')}}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{{url_for('static', filename='images/logo_haproxy.png')}}" />
    </head>
    <body>
        <div class="container-scroller">
          <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
              <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                  <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                    <div class="brand-logo text-center">
                      <img src="{{url_for('static', filename='images/logo_haproxy.png')}}" alt="logo">
                      <p class="text-center">v1.0</p>
                    </div>
                    <h4 class="font-weight-light text-center">Sign in to continue.</h4>
                    <form class="pt-3">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="username" placeholder="Username" name="username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" id="password" placeholder="Password" name="password">
                      </div>
                      <div class="mt-3 d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" onclick="save(event)">SIGN IN</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- page-body-wrapper ends -->
        </div>
        <script src="{{url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
        <script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
        <script src="{{url_for('static', filename='js/template.js')}}"></script>
        <script src="{{url_for('static', filename='js/settings.js')}}"></script>
        <script src="{{url_for('static', filename='js/todolist.js')}}"></script>
        <script>
          function save(event) {
              event.preventDefault(); // Prevent the form from submitting the traditional way
  
              const apiUrl = 'https://' + window.location.host;
              const postData = {
                  username: document.getElementById('username').value,
                  password: document.getElementById('password').value,
              };
  
              const requestOptions = {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(postData)
              };
  
              fetch(apiUrl, requestOptions)
                  .then(response => {
                      if (!response.ok) {
                          throw new Error(`HTTP error! Status: ${response.status}`);
                      }
                      return response.json();
                  })
                  .then(data => {
                      if (data.message) {
                          window.location.href = "/home"; // Redirect to home page
                      } else {
                          alert("Login failed");
                      }
                  })
                  .catch(error => {
                      console.error('Error:', error);
                      alert("Login failed");
                  });
          }
      </script>
      </body>
</html>