<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HAProxy - Reset password</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/feather/feather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs5/dataTables.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/select.dataTables.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" />
</head>
<body>
    <div class="container-scroller">
        {% include 'partials/navbar.html' %}
        <div class="container-fluid page-body-wrapper">
            {% include 'partials/sidebar.html' %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <form action="{{ url_for('reset_password') }}" method="post">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label for="exampleInputName1">New Password</label>
                                            <input type="password" class="form-control" id="exampleInputName1" placeholder="New Password" name="new_password" required>
                                        </div>
                                        <div class="col-4">
                                            <label for="exampleInputName2">New Password</label>
                                            <input type="password" class="form-control" id="exampleInputName2" placeholder="Password Confirmation" name="password_confirmation" required>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary me-2" value="Reset Password">
                            </form>
                        </div>
                    </div>
                </div>
                {% include 'partials/footer.html' %}
            </div>
        </div>
    </div>
    <script>
        // JavaScript to dynamically set the date
        const currentDateElement = document.getElementById('currentDate');
        const options = { day: 'numeric', month: 'short', year: 'numeric' };
        const today = new Date().toLocaleDateString('en-GB', options);
        currentDateElement.textContent = `Today (${today})`;
    </script>
    <script src="{{ url_for('static', filename='/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ url_for('static', filename='/vendors/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendors/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendors/datatables.net-bs5/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/dataTables.select.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/todolist.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename='/js/jquery.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
</body>
</html>
